name: M3U generator

on:
  schedule:
    - cron: '0 0/3 * * *'

  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install yt-dlp requests

      - name: Verify yt-dlp installation
        run: yt-dlp --version

      - name: Configure git
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

      - name: Run script
        run: |
          chmod +x autorun.sh
          ./autorun.sh

      - name: Commit and push
        run: |
          git add -A
          git diff --staged --quiet || (git commit -m "links are updated" && git push)
